@keyframes anime1 {
    from{
        left: -50%; 
    }
    to{
        left: 0%; 
    }
}

@keyframes anime2 {
    from{
        left: -50%; 
    }
    to{
        left: 10%; 
    }
}

@keyframes anime3 {
    from{
        right: -50%; 
    }
    to{
        right: 0%; 
    }
}

.background {
    height: 100vh;
    overflow: hidden;
}

.main-page-background {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

/* first section */

.main-section {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
}

.slogan-container {
    width: 35%;
    text-align: center;
    margin-top: 11%;
    margin-bottom: 25%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    color: rgb(17, 87, 69);
}


.slogan-container h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    line-height: 150%;
    margin-bottom: 50px;
    position: relative;
    left: -100%; 
    animation: anime1 1s forwards 0.1s;
}


.scroll-button {
    background-color: transparent;
    padding: 25px 40px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative; 
    transition: all ease 1s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    position: relative;
    left: -100%; 
    animation: anime2 2s forwards 1s;
}

.scroll-button:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 15px; 
    left: 15px;
    background-color: rgb(120, 196, 21);
    z-index: -2; 
    transition: all ease 1s;
    border-radius: 15px;
}

.scroll-button:hover:after {
    width: 100%;
    height: 100%;
}


.main-img-container {
    width: 65%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    margin-top: 30px;
    position: relative;
    right: -150%; 
    animation: anime3 2s forwards 1s;
}

.main-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* second section */

.sec-section {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.img1-container {
    width: 40%;
    height: 66%;
    margin-left: 100px;
    align-items: center;
    justify-content: space-between;
}

.img1-container img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.slogan2-container {
    width: 35%;
    margin-top: 25%;
    margin-bottom: 25%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: right;
    color: rgb(33, 101, 110);
}

.slogan2-container h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    line-height: 150%;
    margin-bottom: 30px;
}

.slogan2-container h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 120%;
    margin-bottom: 50px;
    text-align: right;
}


.scroll-button2 {
    background-color: transparent;
    padding: 25px 40px;
    border: 2px solid black;
    /* border-radius: 15px; */
    position: relative; 
    transition: all ease 1s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.scroll-button2:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 7px; 
    left: 7px;
    background-color: rgb(48, 160, 175);
    z-index: -2; 
    transition: all ease 1s;
}

.scroll-button2:hover:after {
    width: 100%;
    height: 100%;
    color: white;
}

/* third section */

.third-section {
    width: 100%;
    height: 100vh;
    align-items: center;
}



/* fourth section */

.last-section {
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.img-slider {
    background-color: silver;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.sliding-item {
    position: relative;
    width: 20%;
    height: 90%;
    background-color: red;
    transition: 1s;
    border: none;
    justify-content: space-between;
    cursor: pointer;
}

.sliding-item:hover {
   transform: scale(1.5);
}

.sliding-item:focus  {
   transform: scale(1.5);
}

.sliding-item img {
    object-fit: cover;
}
.personal-links {
    display: none;
}
