/* rgb(20, 100, 80);      */

.nav-bar-container {
    top: 0; 
    position: fixed;
    z-index: 1;
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 10;
    background-color: white;
    /* box-shadow: 1px 1px rgba(0, 0, 0, 0.2) */
}

.nav-header-container {
    margin-left: 24px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-header {
    display: flex;
    font-size: 30px;
    font-weight: 600;
}

.inter {
    /* margin-right: 2px; */
    color: rgb(20, 100, 80);
    padding: 5px;
    padding-right: 0;
}
.view {
    /* margin-left: 2px; */
    background-color: rgb(20, 100, 80);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.home-link {
    text-decoration: none;
    cursor: pointer;
}


.search-bar-container {
    position: relative;
    margin: 20px; 
    width: 100%;
    min-width: 70px;
    display: inline-block;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding-left: 10;
    display: flex;
    flex-direction: row;
}

.search-bar {
        width: 100%;
        border: none;
        padding-left: 20px;
        border-radius: 5px;
        min-width: 70px;
        height: 40px;
        line-height: normal;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px; 
        background-color: rgb(236, 235, 235);
}

 .search-bar:hover {
    background-color: rgb(221, 220, 220); 
}

.search-bar:focus {
    outline: 3px solid rgb(174, 206, 255);
}


.functional-buttons-container {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(30, 30, 30);
    box-sizing: border-box;
    margin: 0px 20px 0px 20px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.load-button-wrapper {
    align-items: center;
     justify-content: center;
     text-align: center;
     cursor: pointer;
}
.load-button-wrapper:hover .load-button-container{
    background-color: rgb(207, 207, 207);
}

.load-button-wrapper:hover .button-function {
    opacity: 1;
}

.load-button-container {
     margin: 20px 20px 10px 20px;
     height: 45px;
     width: 45px;
     border-radius: 100%;
     cursor: pointer;
}

.button-function {
    font-size: 13px;
    font-weight: 550;
    padding: 2px; 
    width: auto;
    opacity: 0;
}

.functional-buttons-container div button{
    min-height: 35px;
    min-width: 35px;
    /* border-radius: 100%; */
    padding: 0;
    margin: 5px; 
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.user-auth-container {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(30, 30, 30);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.login-button-container {
    margin: 20px 10px 20px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.login-button {
    border: none; 
    background-color: rgb(20, 100, 80);
    color: white; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    min-width: 90px;
    min-height: 40px;
    width: 100%;
    line-height: normal;
    font-family: inherit;
    font-weight: 550;
    font-size: 17px; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(17, 83, 67);
}

.signup-button-container {
    margin: 20px 8px 20px 8px
}

.signup-button {
    border: solid;
    border-color: rgb(20, 100, 80);
    background-color: transparent;
    color: rgb(20, 100, 80);
    padding: 0 20px 0 20px; 
    border-radius: 25px;
    min-width: 110px;
    min-height: 40px;
    width: 100%;
    font-weight: 550;
    font-size: 17px; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signup-button:hover{
    border: solid 2px;
    background-color: rgba(20, 100, 80, 0.2);
}

