.feedbacks-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    border-radius: 50px;
    position: relative; 
}

.feedback-class {
    display: flex;
    flex-direction: row;  
    /* background-color: rgb(215, 249, 250); */
    padding: none;
    justify-content: space-between;
}

.feedback-class button {
    width: 40%;
    height: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: white;
    cursor: pointer;
    border-bottom: solid 5px;
    border-color: transparent;
    font-size: 25px;
    font-weight: 600;
    color: gray;
    margin-bottom: 10px;
}

.positive-title {
    margin-left: 20px;
}

.negative-title {
    margin-right: 20px;
}

.feedback-class button:focus {
    /* background-color: rgb(215, 249, 250); */
    color: rgb(50, 130, 100); 
    border-bottom: solid 5px rgb(50, 130, 100); 
}

.feedback-index-item-container {
    border: none;
    padding: 10px;
    color: gray;
    font-size: 17px;
    line-height: 150%;
}

.feedback {
    display: flex; 
    flex-direction: row;
    justify-content: left;
}

.initial-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.initial-profile button{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}

.feedback-items-container {
    max-width: 80%;
    height: auto;
    padding: 20px;
    font-size: 14px;
    line-height: 120%;
}

.feedbacker-full-name {
    font-size: 15px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    margin-bottom: 5px;
}

.feedback-date {
    float: right; 
    color: black;
    font-size: 11px;
    margin-right: 10px;
}

.feedback:hover .feedback-button-wrapper {
    opacity: 1;
}

.feedback-button-wrapper {
    position: absolute;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 5%;
    height: 14%;
    opacity: 0;
}


.feedback-buttons {
    display: flex;
    flex-direction: column;
}

.feedback-buttons button {
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
    z-index: 99;
    background-color: #B0C4DE;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.feedback-buttons button:hover {
    background-color: #94b5e0;
}

.show {
    display: block;
}

.unshow {
    display: none;
}